# Application port
PORT=3000

# Environment mode (development | production)
NODE_ENV=development

# MongoDB connection string
# Example local URI: mongodb://localhost:27017/event-manager
# Example Atlas URI:
# mongodb+srv://<user>:<password>@cluster0.mongodb.net/event-manager?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/event-manager
